
/* set intervals */
/* LAYOUT */

body {
    height: 90%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    /* width and height can be anything, as long as they're equal */
}


/* FORMATTING 
Roboto:300,400,400italic,700
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* text formatting */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    color: white;
}

header {
    margin: 0 auto;
    padding: .5em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .1em;
}

#temperature {
    font-size: 2em;
}

figure {
    margin: 0;
}

img {
    height: 6em;
}

details {
    display: none;
    line-height: 1.6;
    font-weight: 300;
}

*:focus {
    outline: none;
}

#description {
    font-size: 1.2em;
    font-style: italic;
}

data {
    margin-left: .5em;
    margin-right: .5em;
}

time {
    margin-left: .5em;
    margin-right: .5em;
}

.sun {
    height: 5%;
    padding-top: .2em;
}

button {
    display: none;
    width: 5em;
    margin: 1em auto 0 auto;
}


/* Outside of Main */

.credit {
    margin: 0 auto;
    padding: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

/* Code for sticky sidebar found here: https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */


.cities {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8em;
}


/* MUTABLE CONTENT  */

#wallpaper {
    background-image: linear-gradient(45deg, red, blue);
}


