/* LAYOUT */

body {
    height: 90%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.vertical_alignment {
    display: flex;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    /* width and height can be anything, as long as they're equal */
}
@media (max-width: 767px) {
    body {
        height: 85%;
    }
    .circle {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 520px) {
    body {
        height: 70%;
    }
    .circle {
        width: 300px;
        height: 300px;
    }
}


/* FORMATTING  - fonts avail: Roboto:300,400,400italic,700 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after,
*:focus {
    box-sizing: inherit;
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* text formatting to cascade */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    color: white;
}

@media (max-width: 767px) {
    main {
        font-size: .8em;
    }
}

@media (max-width: 520px) {
    main {
        font-size: .6em;
    }
}

header {
    margin: 0 auto;
    padding: .5em;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .1em;
}

#temperature {
    font-size: 2em;
}

#icon {
    margin: 0;
}

img {
    height: 6em;
}

.pageLoadIcon {
    display: none;
}

details {
    display: none;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: .1em;
}

details[open] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

summary:hover {
    text-decoration: underline;
    width: 7em;
    margin: auto;
    border-radius: 3px;
    text-align: center;
}

summary:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#description {
    font-size: 1.2em;
    font-style: italic;
}

data {
    margin-left: .5em;
    margin-right: .5em;
}

time {
    margin-left: .5em;
    margin-right: .5em;
}

.sun {
    height: 5%;
    padding-top: .2em;
}

button {
    width: 5em;
    margin: 1em auto 0 auto;
    padding: .4em;
    padding-bottom: .5em;
    color: white;
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 3px;
    text-align: center;
}

button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

button:hover {
    text-decoration: underline;
}

#toggleTemp {
    display: none;
}


/* Outside of Main */

.credit {
    margin: 0 auto;
    padding: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8em;
}


/* Code for sticky sidebar found here: https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
}

#cities {
    display: flex;
    justify-content: space-between;
    position: fixed;
    min-width: 760px;
    width: 80%;
    max-width: 90%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    padding: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .1em;
    font-size: .8em;
}

#mobileMenu {
    width: 100%;
    display: none;
}

@media (max-width: 767px) {
    a {
        padding-top: 5px;
    }
    #mobileMenu {
        width: 100%;
        display: block;
        position: fixed;
        bottom: 0;
    }
    #cities {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        -moz-border-radius: 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px;
        padding: .5em;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 1.2em;
        letter-spacing: .1em;
        font-size: .7em;
    }
    .credit {
        font-size: .5em;
    }
}



/* MUTABLE CONTENT  */

#wallpaper {
    background-image: linear-gradient(45deg, red, blue);
}